@import './partials/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// classi

.container{
    max-width: 70%;
    margin: 0 auto;
}

body{
    color: $textColor;
    font-family: 'Roboto', sans-serif;
}