$btnColor : #fc7525;
$secondBtnColor : #f0eeeb;
$textColor : #39403e;
$secondTextColor : #262628;
$mainBgColor : #f6f7f1;
$contactColor : #979c9c;
$priceColor : #1ca142;
$tagColor : #0492ad;

$mainShadow : 0px 0px 10px 5px rgba(0,0,0,0.15);
